 <section class="productos" id="productos">

        <h1 class="titulo"> Nuestros <span>Productos</span></h1>
     
        <div class="contenedor">
            <div class="contiene">
                <img src=/{{ producto.foto }} alt="">
                <h3>{{ producto.nombre}}</h3>
                <div class="precio">{{ producto.precio}}</div>
            </div>

            <div class="contiene">
                <img src=/{{ producto.foto }} alt="">
                <h3>{{ producto.nombre}}</h3>
                <div class="precio">{{ producto.precio }}</div>
            </div>

            <div class="contiene">
                <img src=/{{ producto.foto }} alt="">
                <h3>{{ producto.nombre }}</h3>
                <div class="precio">{{ producto.precio }}</div>
            </div>

            <div class="contiene">
                <img src=/{{ producto.foto }} alt="">
                <h3>{{ producto.nombre }}</h3>
                <div class="precio">{{ producto.precio }}</div>
            </div>

            <div class="contiene">
                <img src=/{{ producto.foto }} alt="">
                <h3>{{ producto.nombre }}</h3>
                <div class="precio">{{ producto.precio }}</div>
            </div>

            <div class="contiene">
                <img src=/{{ producto.foto }} alt="">
                <h3>{{ producto.nombre }}</h3>
                <div class="precio">{{ producto.precio }}</div>
            </div>

            <div class="contiene">
                <img src=/{{ producto.foto }} alt="">
                <h3>{{ producto.nombre }}</h3>
                <div class="precio">{{ producto.precio }}</div>
            </div>

            <div class="contiene">
                <img src=/{{ producto.foto }} alt="">
                <h3>{{ producto.nombre }}</h3>
                <div class="precio">{{ producto.precio }}</div>
            </div>
        </div>


    </section>