<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <link rel="shortcut icon" type="image/jpg" href="imagenes/logo.jpg"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"><!--Bootstrap-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" >
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/formulario.js"></script>
        <script type="text/javascript" src="/js/opacity.js"></script>
        <script type="text/javascript" src="/js/acordeon.js"></script>
        <script type="text/javascript" src="/js/zoom.js"></script>
        <script type="text/javascript" src="/js/dialogo.js"></script>
        <link rel="stylesheet" href="/css/estilo.css">
        <title>Panaderia Marzá</title>
</head>
<body>

    <!--Empieza header-->
<header class="header">

    <a href="#" class="logo">
        <img src="imagenes/logo.jpg" alt="">
    </a>
    <nav class="navegacion" >
        <a href="{{ path ('inicio') }}">Inicio</a>
        <a href="{{ path ('inicio') }}#nosotros">Nosotros</a>
        <a href="{{ path ('producto') }}">Productos</a>
        <a href="{{ path ('contacto') }}">Contacto</a>
        <a href="{{ path ('recetas') }}">Recetas</a>
    </nav>
   
    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <a href="{{ path ('login') }}"><div class="glyphicon glyphicon-user"></div></a>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>
    
</header>
    <!--Acaba header-->
    {% block body %}{% endblock %}
    <!--Inicio footer-->

    <section class="footer">

        <div class="rrss">
            <a href="https://es-es.facebook.com/panaderiamarza/" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>

        <div class="derechos">
            Creado por Alejandro || <span>Todos los derechos reservados &#169</span>
        </div>
        <div class="reloj"id="reloj">
        </div>
    </section>
    <!--Fin footer-->
</body>
</html>